body {
  background: #ecf0f5;
}

.nav-link {
  cursor: pointer;
}

.user-form {
  max-width: 460px;
  margin: 0 auto;
}

.box {
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background: #fff;
}

.item-img {
  width: 350px;
  height: 350px;
}

.card img {
  cursor: pointer;
}